version: 2.1
orbs:
  cypress: cypress-io/cypress@1.29.0
workflows:
  build:
    jobs:
      # note that in order to instrument code
      # CI project should have NODE_ENV=test set
      - cypress/run:
          start: npm start
          wait-on: http://localhost:8080
          post-steps:
            # store coverage HTML report
            - store_artifacts:
                path: coverage
            # make sure the coverage numbers are high enough
            - run: npm run check:coverage
